/*---------------------------------------------------------------
>>> TABLE OF CONTENTS:
-----------------------------------------------------------------
/*---------------------------------------------------------------
1.0 Reset
---------------------------------------------------------------*/
/*---------------------------------------------------------------
2.0 Header
---------------------------------------------------------------*/
/*---------------------------------------------------------------
3.0 Common
---------------------------------------------------------------*/
/*---------------------------------------------------------------
4.0 Banner
---------------------------------------------------------------*/
/*---------------------------------------------------------------
5.0 Main 
---------------------------------------------------------------*/
/*---------------------------------------------------------------
6.0 Footer
---------------------------------------------------------------*/
/*---------------------------------------------------------------
7.0 Responsive
---------------------------------------------------------------*/
/*---------------------------------------------------------------
1.0 Reset
---------------------------------------------------------------*/
html,
body {
  height: 100%;
  width: 100%; }

.wrapper {
  min-height: 100%;
  overflow-x: hidden;
  position: relative; }

ul,
ol {
  padding: 0;
  margin-bottom: 0; }

ol {
  margin-left: 1.1em; }

address {
  margin-bottom: 0; }

img {
  height: auto;
  max-width: 100%; }

.center-block {
  float: none; }

/*---------- Heading ----------*/
h1 {
  font-size: 70px;
  text-transform: capitalize;
  font-weight: 400;
  color: #303030; }

h2 {
  font-size: 40px;
  text-transform: capitalize;
  font-weight: 700;
  color: #303030; }

h3 {
  font-size: 36px;
  text-transform: capitalize;
  font-weight: 400;
  letter-spacing: 0;
  color: #303030; }

h4,
h4 a {
  font-size: 26px;
  font-weight: capitalize;
  color: #303030;
  font-weight: 700; }

h5,
h5 a {
  font-size: 20px;
  font-weight: 400;
  color: #606060; }

h6 {
  font-size: 16px;
  color: #303030; }

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #303030; }

span {
  font-family: #ffffff;
  font-size: 15px;
  font-weight: 400; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 10px; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
blockquote,
pre,
#calendar_wrap caption {
  word-break: break-word;
  word-wrap: break-word; }

/*---------- Form ---------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background: #ffffff;
  padding: 8px 15px;
  border: 1px solid #ffffff;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  text-transform: capitalize;
  display: inline-block;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 50px; }

button:hover,
button:focus,
button[disabled]:hover,
button[disabled]:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
  border: 1px solid #0e1326;
  color: #0e1326; }

.button:focus,
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
  outline: 0; }

input[type="text"] {
  text-transform: capitalize !important; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
textarea,
.form-control {
  border: 1px solid;
  padding: 15px 20px;
  width: 100%;
  border-radius: 0;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-weight: 500;
  font-size: 20px;
  color: #909090; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"] {
  vertical-align: middle;
  height: 45px;
  line-height: 45px; }

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
textarea.form-control:focus,
.form-control:focus {
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none; }

select {
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  border: 1px solid #cccccc;
  height: 50px;
  outline: medium none;
  padding: 6px 12px;
  text-indent: 1px;
  text-transform: none;
  width: 100%;
  background: white url("../images/select-arrow.png") no-repeat scroll 90% center;
  font-size: 20px;
  color: #909090;
  cursor: pointer; }

select option {
  padding: 4px; }

.slick-slide {
  outline: none; }

/*---------- 2.1.3 Links ----------*/
a {
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  font-weight: 400; }

a:hover,
a:active,
a:focus {
  outline: 0;
  text-decoration: none;
  color: #00aae0; }

/*---------- 2.2 Table -----------*/
table,
th,
td {
  border: 1px solid #eaeaea; }

table {
  width: 100%; }

th,
td {
  padding: 0.4375em; }

table,
dd,
address {
  margin: 0 0 1.75em; }

/*---------------------------------------------------------------
2.0 Header
---------------------------------------------------------------*/
/*----- Header-Top -----*/
.header-wrapper {
  padding: 0px 15px; }
  .header-wrapper .login-wrap ul li a {
    color: #00aae0;
    font-size: 18px; }
    .header-wrapper .login-wrap ul li a:hover {
      color: #303030; }
  .header-wrapper .login-wrap ul li:after {
    border-right: 2px solid #dddddd;
    content: "";
    display: inline-block;
    height: 15px;
    vertical-align: middle;
    width: 5px;
    margin-left: 8px; }
  .header-wrapper .login-wrap ul li:last-child:after {
    border-right: none; }
  .header-wrapper .social-share-wrap ul li a {
    color: #909090;
    font-size: 22px; }
    .header-wrapper .social-share-wrap ul li a:hover {
      color: #00aae0; }

/*------ Header Menu Section -----*/
.main-menu-wrap {
  background: #00aae0; }

.header-menu nav {
  margin-bottom: 0px;
  border: none;
  background: none; }

.header-menu ul {
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: none;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  padding: 33px 0; }
  .header-menu ul li {
    display: inline-block;
    float: none;
    position: relative;
    text-align: center; }
    .header-menu ul li a {
      color: #ffffff !important;
      display: inline-block;
      font-size: 18px;
      font-weight: 400;
      letter-spacing: 0.1rem;
      line-height: 1.4;
      text-transform: capitalize;
      padding: 0px !important; }
      .header-menu ul li a:hover {
        color: #303030 !important; }
      .header-menu ul li a:after {
        background: #ffffff none repeat scroll 0 0;
        content: "";
        display: inline-block;
        height: 15px;
        margin: 0px 39px;
        width: 2px; }
    .header-menu ul li:last-child a:after {
      display: none; }

.fixed-me {
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  width: 100% !important;
  z-index: 9999; }

/*---------------------------------------------------------------
3.0 Common
---------------------------------------------------------------*/
/*-- Section Padding --*/
.pad-tb-80 {
  padding: 80px 0px; }
  @media only screen and (max-width: 1499px) {
    .pad-tb-80 {
      padding: 50px 0px; } }

.pad-tb-50 {
  padding: 80px 0px; }

.mrgn-btm-sm {
  margin-bottom: 40px; }

/*----- Flex Classes -----*/
.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.justify-content-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.align-self-center {
  -ms-flex-item-align: center;
  align-self: center; }

/*---------------------------------------------------------------
4.0 Banner
---------------------------------------------------------------*/
/*------ Home Banner -----*/
.banner-wrapper {
  height: 720px;
  position: relative;
  overflow: hidden;
  background-position: center center;
  background-size: cover; }
  .banner-wrapper .banner_caption {
    position: absolute;
    top: 43%;
    left: 0;
    right: 0; }
    .banner-wrapper .banner_caption .member-wrap {
      margin-bottom: 75px; }
      .banner-wrapper .banner_caption .member-wrap li {
        margin: 0 8px; }
        .banner-wrapper .banner_caption .member-wrap li a.banner-btn {
          width: 270px;
          line-height: 3;
          display: inline-block;
          color: #ffffff;
          font-size: 24px; }
        .banner-wrapper .banner_caption .member-wrap li a.member {
          background: #00aae0;
          border: 1px solid #00aae0; }
          .banner-wrapper .banner_caption .member-wrap li a.member:hover {
            background: #ffffff;
            color: #00aae0; }
        .banner-wrapper .banner_caption .member-wrap li a.non-member {
          background: #a4cb35; }
          .banner-wrapper .banner_caption .member-wrap li a.non-member:hover {
            background: #ffffff;
            color: #a4cb35; }
  .banner-wrapper .carousel-control {
    background: transparent none repeat scroll 0 0;
    bottom: auto;
    height: auto;
    opacity: 1;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 25px; }
    .banner-wrapper .carousel-control span {
      font-family: FontAwesome;
      font-size: 150px;
      text-shadow: none; }
    .banner-wrapper .carousel-control.left {
      left: 15%; }
    .banner-wrapper .carousel-control.right {
      right: 15%; }

/*----- Search-Form -----*/
.search-form-sec h3 {
  margin-bottom: 20px;
  text-align: center; }

.search-btn-wrap {
  float: left;
  width: 21%; }
  .search-btn-wrap input[type="button"] {
    width: 230px;
    height: 70px;
    overflow: hidden;
    background: #e1003a;
    border: 1px solid #e1003a;
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px; }
    .search-btn-wrap input[type="button"]:hover {
      background: #ffffff;
      color: #e1003a; }

.search-form-content {
  background: #ffffff;
  float: left;
  height: 70px;
  margin-right: 20px;
  width: 77%;
  border: 1px solid #808080; }
  .search-form-content .form-group:first-child {
    float: left;
    width: 67%; }
  .search-form-content .form-group:nth-child(2) {
    float: right;
    width: 33%;
    position: relative; }
    .search-form-content .form-group:nth-child(2):after {
      background: #dddddd;
      content: "";
      display: block;
      height: 50px;
      overflow: hidden;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      width: 2px;
      z-index: 99; }
  .search-form-content .form-group {
    margin-bottom: 0px; }
  .search-form-content input[type="text"] {
    height: 68px;
    border: none; }
  .search-form-content select {
    border: medium none;
    height: 68px;
    width: 100%; }

.search-form-wrap .search-form-sec {
  background: rgba(255, 255, 255, 0.6);
  padding: 30px 25px;
  border: 10px solid rgba(0, 0, 0, 0.2); }

.banner-wrapper .carousel-inner,
.banner-wrapper .carousel,
.banner-wrapper .item {
  height: 100%; }

/*----- Inner Banner -----*/
.inner-banner {
  height: 990px;
  background-size: cover !important;
  background-position: center !important; }

/*---------------------------------------------------------------
5.0 Main 
---------------------------------------------------------------*/
/*----- Common Section -----*/
.welcome-sec-wrap {
  padding: 55px 0px; }

.welcome-grid-wrap,
.info-grid-wrap {
  padding-top: 55px; }

.img-sec > img {
  width: 100%; }

/*----- Read More Section -----*/
.read-more-wrap {
  display: inline-block;
  position: relative; }
  .read-more-wrap .read-more {
    cursor: pointer;
    z-index: 2;
    color: #ffffff;
    font-size: 24px;
    width: 270px;
    line-height: 2.9;
    text-align: center;
    display: inline-block;
    border: 1px solid; }
    .read-more-wrap .read-more:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0;
      background-color: rgba(255, 255, 255, 0.5);
      -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s;
      -webkit-transform: scale(1, 0.5);
      -ms-transform: scale(1, 0.5);
      transform: scale(1, 0.5); }
    .read-more-wrap .read-more:hover:before {
      opacity: 1;
      -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      transform: scale(1, 1); }
  .read-more-wrap.student-sec .read-more {
    background: #a8157d;
    border-color: #a8157d; }
    .read-more-wrap.student-sec .read-more:hover {
      background: #ffffff;
      color: #a8157d; }
  .read-more-wrap.lecturers-sec .read-more {
    background: #23b14d;
    border-color: #23b14d; }
    .read-more-wrap.lecturers-sec .read-more:hover {
      background: #ffffff;
      color: #23b14d; }
  .read-more-wrap.les-innovate-sec .read-more {
    background: #f4e21e;
    border-color: #f4e21e; }
    .read-more-wrap.les-innovate-sec .read-more:hover {
      background: #ffffff;
      color: #f4e21e; }
  .read-more-wrap.employer-sec .read-more {
    background: #4067cc;
    border-color: #4067cc; }
    .read-more-wrap.employer-sec .read-more:hover {
      background: #ffffff;
      color: #4067cc; }
  .read-more-wrap.university-sec .read-more {
    background: #f59b29;
    border-color: #f59b29; }
    .read-more-wrap.university-sec .read-more:hover {
      background: #ffffff;
      color: #f59b29; }
  .read-more-wrap.library-sec .read-more {
    background: #e1003a;
    border-color: #e1003a; }
    .read-more-wrap.library-sec .read-more:hover {
      background: #ffffff;
      color: #e1003a; }

/*----- Welcome Section -----*/
.welcome-sec-wrap {
  background: #ededed; }
  .welcome-sec-wrap .welcome-content {
    text-align: center;
    width: 92%;
    margin: 0 auto 40px; }
  .welcome-sec-wrap .welcome-grid .learn-more-sec {
    color: white;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    display: inline-block;
    position: relative;
    margin-top: 40px; }
    .welcome-sec-wrap .welcome-grid .learn-more-sec a {
      cursor: pointer;
      z-index: 2;
      width: 270px;
      display: inline-block;
      font-size: 24px;
      color: #ffffff;
      background: #a4cb35;
      border: 1px solid #a4cb35;
      text-transform: capitalize;
      line-height: 2.9;
      text-align: center; }
      .welcome-sec-wrap .welcome-grid .learn-more-sec a:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0;
        background-color: rgba(255, 255, 255, 0.5);
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        -o-transition: all 0.4s;
        transition: all 0.4s;
        -webkit-transform: scale(1, 0.5);
        -ms-transform: scale(1, 0.5);
        transform: scale(1, 0.5); }
      .welcome-sec-wrap .welcome-grid .learn-more-sec a:hover:before {
        opacity: 1;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        transform: scale(1, 1); }
  .welcome-sec-wrap .welcome-grid .img-sec {
    height: 450px;
    background-size: cover;
    background-position: center; }

.info-wel-sec {
  padding-left: 20px;
  padding-right: 20px; }

/*----- Welcome-Grid -----*/
.welcome-grid-wrap .featured-thumb {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative; }

.welcome-grid-wrap .learn-more-wrap {
  position: relative;
  height: 100%;
  width: 100%; }
  .welcome-grid-wrap .learn-more-wrap:before {
    border-radius: 30% 0 0;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transform: translate(75%, 72%);
    -ms-transform: translate(75%, 72%);
    transform: translate(75%, 72%);
    -webkit-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s; }
  .welcome-grid-wrap .learn-more-wrap:hover:before {
    -webkit-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
    border-radius: 0%;
    opacity: 0.8; }
  .welcome-grid-wrap .learn-more-wrap:hover .read-more {
    padding: 40px;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%; }
    .welcome-grid-wrap .learn-more-wrap:hover .read-more i {
      top: -12px; }
  .welcome-grid-wrap .learn-more-wrap .read-more {
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    bottom: 0;
    color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 18px;
    height: 105px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    left: auto;
    line-height: 22px;
    padding: 15px 20px 0 25px;
    position: absolute;
    right: 0;
    text-align: left;
    top: auto;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    width: 105px;
    z-index: 99; }
    .welcome-grid-wrap .learn-more-wrap .read-more i {
      display: inline-block;
      font-family: FontAwesome;
      margin-left: 10px;
      font-style: normal;
      position: relative;
      margin-bottom: -24px; }
  .welcome-grid-wrap .learn-more-wrap.student-sec:before {
    background: #a8157d; }
  .welcome-grid-wrap .learn-more-wrap.lecturers-sec:before {
    background: #23b14d; }
  .welcome-grid-wrap .learn-more-wrap.les-innovate-sec:before {
    background: #f4e21e; }
  .welcome-grid-wrap .learn-more-wrap.employer-sec:before {
    background: #4067cc; }
  .welcome-grid-wrap .learn-more-wrap.university-sec:before {
    background: #f59b29; }
  .welcome-grid-wrap .learn-more-wrap.library-sec:before {
    background: #e1003a; }

.info-grid-wrap .row > div,
.welcome-grid-wrap .row > div {
  margin-bottom: 40px; }

/*----- Info Grid Section -----*/
.info-grid-wrap .featured-thumb {
  background-position: center center !important;
  background-size: cover !important;
  height: 450px;
  margin-bottom: 25px; }

.info-grid-wrap .read-more-wrap {
  margin-top: 40px; }

/*----- Information Search Box Section -----*/
.info-search {
  padding: 40px 0px; }

/*----- Cryptocurrency Wrap Section -----*/
.cryptocurrency-wrap .featured-thumb {
  margin-bottom: 25px; }

.cryptocurrency-wrap .cryptocurrency-content-sec {
  text-align: center; }
  .cryptocurrency-wrap .cryptocurrency-content-sec h4 {
    margin-bottom: 20px; }

/*----- Signup Section -----*/
.signup-section-wrap {
  padding: 40px 0px; }

.signup-section {
  height: 300px;
  background-size: cover;
  background-position: center center;
  position: relative; }
  .signup-section h3 {
    color: #ffffff;
    font-size: 40px;
    display: inline-block;
    margin-right: 40px; }
  .signup-section .signup-wrap {
    display: inline-block; }
  .signup-section .signup {
    background: #a4cb35;
    width: 270px;
    line-height: 2.9;
    color: #ffffff;
    font-size: 24px;
    text-align: center;
    display: inline-block;
    border: 1px solid #a4cb35; }
    .signup-section .signup:hover {
      background: #ffffff;
      color: #a4cb35; }
  .signup-section .signup-content-sec {
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }

/*----- Dashboard Section -----*/
.dashboard-content-section {
  height: 100%;
  position: relative; }
  .dashboard-content-section .special-icons {
    position: absolute;
    right: 0;
    bottom: 30px; }
    .dashboard-content-section .special-icons li {
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
      .dashboard-content-section .special-icons li svg {
        height: 100%;
        width: 100%; }
        .dashboard-content-section .special-icons li svg path {
          fill: #ffffff; }
      .dashboard-content-section .special-icons li .icon-wrap {
        width: 20px; }
      .dashboard-content-section .special-icons li:hover svg path {
        fill: #303030; }

.dashboard-top-wrap {
  height: 330px;
  position: relative; }
  .dashboard-top-wrap .container {
    height: 100%; }
  .dashboard-top-wrap .dashboard-content {
    float: left; }

.dashboard-content-sec {
  position: relative; }
  .dashboard-content-sec .information-wrapper {
    float: left;
    width: 65%; }
  .dashboard-content-sec .credentials-wrap {
    float: left;
    width: 35%;
    text-align: center;
    padding: 40px 30px; }
    .dashboard-content-sec .credentials-wrap li {
      list-style: none;
      margin-bottom: 20px; }
      .dashboard-content-sec .credentials-wrap li:last-child {
        margin-bottom: 0px; }
    .dashboard-content-sec .credentials-wrap h4 {
      font-weight: 400;
      font-size: 30px; }
  .dashboard-content-sec:after {
    background: url("../images/credentials-bg.png");
    content: "";
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 40%;
    z-index: -99; }

/*----- Media Tab Section -----*/
.media-tab-wrap {
  background: #f7f7f7;
  padding: 40px 0px; }
  .media-tab-wrap ul li {
    margin-right: 20px; }
    .media-tab-wrap ul li a {
      color: #303030;
      font-size: 30px;
      border-radius: 0px;
      background: #ffffff;
      line-height: 1.7;
      padding: 10px 20px;
      border-top: 2px solid transparent;
      text-transform: capitalize; }
    .media-tab-wrap ul li.active a {
      background: #fafcff;
      border-color: #23b14d;
      color: #303030; }
      .media-tab-wrap ul li.active a:hover, .media-tab-wrap ul li.active a:focus {
        background: #fafcff;
        border-color: #23b14d;
        color: #303030; }
    .media-tab-wrap ul li:last-child {
      margin-right: 0px; }
  .media-tab-wrap .tab-content {
    background: #ffffff;
    padding: 40px 15px; }
    .media-tab-wrap .tab-content .row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
    .media-tab-wrap .tab-content .grid-item {
      margin-bottom: 30px;
      -webkit-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out; }
      .media-tab-wrap .tab-content .grid-item a svg {
        height: 60%;
        left: 0;
        margin: 0 auto;
        position: absolute;
        right: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 50%; }
        .media-tab-wrap .tab-content .grid-item a svg path {
          opacity: 0.7; }
      .media-tab-wrap .tab-content .grid-item .border a {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 99; }
      .media-tab-wrap .tab-content .grid-item .border .lock-icon {
        font-size: 30px;
        left: 10px;
        position: absolute;
        top: 3px;
        color: #909090;
        width: 10%; }
        .media-tab-wrap .tab-content .grid-item .border .lock-icon svg {
          height: 100%;
          width: 100%; }
      .media-tab-wrap .tab-content .grid-item .folder-sec {
        border: 6px double #ededed;
        height: 270px;
        position: relative;
        margin-bottom: 30px; }
        .media-tab-wrap .tab-content .grid-item .folder-sec:after {
          border: 2px solid #ededed;
          bottom: 3px;
          content: "";
          display: inline-block;
          left: 3px;
          position: absolute;
          right: 3px;
          top: 3px; }
      .media-tab-wrap .tab-content .grid-item:hover .folder-sec {
        border-color: #303030; }
        .media-tab-wrap .tab-content .grid-item:hover .folder-sec:after {
          border-color: #303030; }
        .media-tab-wrap .tab-content .grid-item:hover .folder-sec svg path {
          opacity: 1; }
    .media-tab-wrap .tab-content .meta-info > span i {
      font-family: FontAwesome;
      font-style: normal;
      color: #909090;
      margin-right: 8px; }
    .media-tab-wrap .tab-content .meta-info > span:first-child {
      margin-right: 10px; }

.download-folder .title {
  bottom: 20px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  text-align: center; }

.download-folder a svg path {
  opacity: 1 !important; }

.download-folder a svg g:first-child path {
  fill: #cfcfcf !important; }

.dashboard-content-sec .information-wrap ul li,
.commendation-wrap .grid-item .content-sec {
  text-align: center;
  overflow: hidden; }

/*----- Commendation-wrap ------*/
.commendation-wrap .title-sec h4,
.about-section .title-sec h4 {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 15px; }

.commendation-wrap {
  margin-bottom: 10px; }

.commendation-wrap .grid-item,
.information-wrap .grid-item {
  border: 1px solid #ededed;
  padding: 20px;
  overflow: hidden;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 236px; }

.commendation-wrap .grid-item .icon-sec,
.information-wrap .grid-item .icon-sec {
  float: left;
  margin-right: 15px;
  -ms-flex-item-align: center;
  align-self: center; }

.commendation-wrap .grid-item .content-sec,
.information-wrap .grid-item .content-sec {
  float: left;
  -ms-flex-item-align: center;
  align-self: center; }

.commendation-wrap .grid-item .content-sec h4,
.information-wrap .grid-item .content-sec h4 {
  color: #606060;
  font-size: 30px;
  font-weight: 400; }

.information-wrap .grid-item .icon-sec svg {
  width: 100%;
  height: 100%; }

.information-wrap .grid-item .icon-sec svg path {
  fill: #606060; }

.information-wrap .grid-item .icon-sec {
  width: 18%; }

.information-wrap {
  margin-top: -102px; }
  .information-wrap ul {
    text-align: right; }
    .information-wrap ul li {
      display: inline-block;
      text-align: left;
      list-style: outside none none;
      margin-right: 12px;
      clear: both;
      width: 31.8%; }
      .information-wrap ul li:first-child, .information-wrap ul li:nth-child(4) {
        margin-right: 0px; }
      .information-wrap ul li:nth-child(1) {
        clear: both;
        float: right;
        width: 100%; }
        .information-wrap ul li:nth-child(1) .grid-item {
          margin-left: auto; }

.gallery-border {
  bottom: 5px;
  left: 5px;
  position: absolute;
  right: 5px;
  top: 5px; }

/*----- User Info Section ------*/
.user-info-wrap {
  margin-top: -230px;
  overflow: hidden; }
  .user-info-wrap .dashboard-img {
    background-position: center center;
    background-size: cover;
    border-radius: 100%;
    float: left;
    height: 380px;
    margin-right: 20px;
    width: 52%; }
  .user-info-wrap .dashboard-content {
    float: left;
    width: 45%;
    margin-top: 120px; }
    .user-info-wrap .dashboard-content h2 {
      color: #ffffff;
      font-size: 45px;
      font-weight: 400; }
    .user-info-wrap .dashboard-content span {
      font-size: 20px;
      color: #ffffff;
      font-weight: 400; }

/*----- Student Profile -----*/
.student-sec .dashboard-top-wrap {
  background: #a8157d; }

.student-sec .media-tab-wrap .tab-content .grid-item a svg path {
  fill: #a8157d; }

.student-sec .media-tab-wrap .tab-content .grid-item:hover .content-sec h5 a {
  color: #a8157d; }

.student-sec .media-tab-wrap .tab-content .meta-info > span span {
  color: #a8157d; }

.student-sec .commendation-wrap .grid-item .content-sec span,
.student-sec .information-wrap .grid-item .content-sec span {
  color: #a8157d; }

/*----- Innovateurs Profile -----*/
.innovateurs-sec .dashboard-top-wrap {
  background: #f4e21e; }

.innovateurs-sec .media-tab-wrap .tab-content .grid-item a svg path {
  fill: #f4e21e; }

.innovateurs-sec .media-tab-wrap .tab-content .grid-item:hover .content-sec h5 a {
  color: #f4e21e; }

.innovateurs-sec .media-tab-wrap .tab-content .meta-info > span span {
  color: #f4e21e; }

.innovateurs-sec .commendation-wrap .grid-item .content-sec span,
.innovateurs-sec .information-wrap .grid-item .content-sec span {
  color: #f4e21e; }

/*----- Lecturer Profile -----*/
.lecturer-sec .dashboard-top-wrap {
  background: #23b14d; }

.lecturer-sec .media-tab-wrap .tab-content .grid-item a svg path {
  fill: #23b14d; }

.lecturer-sec .media-tab-wrap .tab-content .grid-item:hover .content-sec h5 a {
  color: #23b14d; }

.lecturer-sec .media-tab-wrap .tab-content .meta-info > span span {
  color: #23b14d; }

.lecturer-sec .commendation-wrap .grid-item .content-sec span,
.lecturer-sec .information-wrap .grid-item .content-sec span {
  color: #23b14d; }

/*----- Employe Profile -----*/
.employe-sec .dashboard-top-wrap {
  background: #4067cc; }

.employe-sec .media-tab-wrap .tab-content .grid-item a svg path {
  fill: #4067cc; }

.employe-sec .media-tab-wrap .tab-content .grid-item:hover .content-sec h5 a {
  color: #4067cc; }

.employe-sec .media-tab-wrap .tab-content .meta-info > span span {
  color: #4067cc; }

.employe-sec .information-wrap {
  margin-top: 10px; }
  .employe-sec .information-wrap ul li {
    margin-right: 0; }
    .employe-sec .information-wrap ul li:nth-child(1) {
      clear: inherit;
      float: inherit;
      width: inherit;
      margin-right: 20px; }

.employe-sec .commendation-wrap .grid-item .content-sec span,
.employe-sec .information-wrap .grid-item .content-sec span {
  color: #4067cc; }

/*----- University Profile -----*/
.university-sec .dashboard-top-wrap {
  background: #f59b29; }

.university-sec .media-tab-wrap .tab-content .grid-item a svg path {
  fill: #f59b29; }

.university-sec .media-tab-wrap .tab-content .grid-item:hover .content-sec h5 a {
  color: #f59b29; }

.university-sec .media-tab-wrap .tab-content .meta-info > span span {
  color: #f59b29; }

.university-sec .information-wrap {
  margin-top: 10px; }
  .university-sec .information-wrap ul li {
    margin-right: 0; }
    .university-sec .information-wrap ul li:nth-child(1) {
      clear: inherit;
      float: inherit;
      text-align: inherit;
      width: inherit;
      margin-right: 20px; }

.university-sec .commendation-wrap .grid-item .content-sec span,
.university-sec .information-wrap .grid-item .content-sec span {
  color: #f59b29; }

/*---------------------------------------------------------------
6.0 Footer
---------------------------------------------------------------*/
.footer-wrapper {
  background: #303030;
  padding: 20px 0px; }

.copyright-sec span {
  color: #ffffff; }
  .copyright-sec span a {
    color: #00aae0; }
    .copyright-sec span a:hover {
      color: #ffffff; }

#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #00aae0;
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: 2px solid #2898f3; }
  #return-to-top:hover {
    background: #ffffff;
    border-color: #2898f3; }
    #return-to-top:hover i {
      color: #2898f3;
      top: 5px; }

.return-top-wrap i {
  color: #ffffff;
  margin: 0;
  position: relative;
  left: 14px;
  top: 7px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-family: FontAwesome;
  font-style: normal; }

/*---------------------------------------------------------------
7.0 Responsive
---------------------------------------------------------------*/
@media only screen and (max-width: 1499px) and (min-width: 320px) {
  /*----- Common Section -----*/
  h2 {
    font-size: 32px; }
  h4,
  h4 a {
    font-size: 21px; }
  h5,
  h5 a {
    font-size: 18px; }
  p {
    font-size: 15px;
    line-height: 22px; }
  input[type="text"],
  input[type="email"],
  input[type="url"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="number"],
  textarea,
  .form-control,
  select {
    font-size: 16px; }
  /*----- Read More Section -----*/
  .read-more-wrap .read-more {
    font-size: 18px;
    width: 200px; }
  /*----- Banner Section -----*/
  .banner-wrapper {
    height: 480px; }
    .banner-wrapper .banner_caption {
      top: 30%; }
      .banner-wrapper .banner_caption .member-wrap li a.banner-btn {
        font-size: 20px;
        width: 235px; }
      .banner-wrapper .banner_caption .member-wrap {
        margin-bottom: 50px; }
    .banner-wrapper .carousel-control.left {
      left: 3%; }
    .banner-wrapper .carousel-control.right {
      right: 3%; }
    .banner-wrapper .carousel-control span {
      font-size: 70px; }
  /*----- Inner Banner Section -----*/
  .inner-banner {
    height: 700px; }
  /*----- Main Menu Section -----*/
  .header-menu ul {
    padding: 25px 0; }
    .header-menu ul li a {
      font-size: 16px; }
  #navbar {
    height: 1px; }
  /*----- Header Section -----*/
  .header-wrapper .login-wrap ul li a,
  .header-wrapper .social-share-wrap ul li a {
    font-size: 16px; }
  /*----- Welcome Section -----*/
  .welcome-sec-wrap .welcome-grid .learn-more-sec {
    margin-top: 25px; }
    .welcome-sec-wrap .welcome-grid .learn-more-sec a {
      font-size: 19px;
      width: 200px; }
  .welcome-sec-wrap .welcome-grid .img-sec {
    height: 320px; }
  .welcome-grid-wrap .featured-thumb {
    height: 380px; }
  .welcome-grid-wrap .learn-more-wrap .read-more {
    height: 95px; }
  /*----- Information Grid Section -----*/
  .info-grid-wrap .read-more-wrap {
    margin-top: 25px; }
  .info-grid-wrap .featured-thumb {
    height: 350px; }
  .info-grid-wrap .row > div {
    margin-bottom: 25px; }
  .welcome-grid-wrap .row > div,
  .info-grid-wrap .featured-thumb {
    margin-bottom: 20px; }
  .info-grid-wrap .read-more-wrap {
    margin-top: 16px; }
  /*----- Search Form Section -----*/
  .search-form-content {
    height: 54px; }
    .search-form-content input[type="text"] {
      height: 52px; }
    .search-form-content select {
      height: 52px; }
    .search-form-content .form-group:nth-child(2):after {
      height: 35px; }
  .search-btn-wrap input[type="button"] {
    font-size: 20px;
    width: 230px;
    height: 53px; }
  .search-form-sec h3 {
    font-size: 28px;
    margin-bottom: 10px; }
  /*----- User Dashboard -----*/
  .dashboard-content-sec::after {
    width: 35%; }
  .user-info-wrap {
    margin-top: -160px; }
    .user-info-wrap .dashboard-img {
      width: 40%;
      height: 300px; }
  .commendation-wrap .title-sec h4,
  .about-section .title-sec h4,
  .commendation-wrap .grid-item .content-sec h4,
  .information-wrap .grid-item .content-sec h4,
  .media-tab-wrap ul li a {
    font-size: 22px; }
  .media-tab-wrap .tab-content .grid-item .folder-sec,
  .media-tab-wrap .tab-content .grid-item {
    margin-bottom: 20px; }
  .dashboard-top-wrap {
    height: 200px;
    position: relative; }
  /*----- User Info Section -----*/
  .user-info-wrap .dashboard-content {
    margin-top: 82px; }
    .user-info-wrap .dashboard-content h2 {
      font-size: 30px; }
    .user-info-wrap .dashboard-content span {
      font-size: 14px; }
  .dashboard-content-sec .credentials-wrap h4 {
    font-size: 24px;
    font-weight: 400; }
  .university-sec .information-wrap {
    margin-top: -25px; }
  /*----- Signup Section ------*/
  .signup-section {
    height: 250px; }
    .signup-section .signup {
      font-size: 20px;
      width: 210px; }
    .signup-section h3 {
      font-size: 30px; } }
