/*---------------------------------------------------------------
4.0 Banner
---------------------------------------------------------------*/

/*------ Home Banner -----*/

.banner-wrapper {
    height: 720px;
    position: relative;
    overflow: hidden;
    background-position: center center;
    background-size: cover;
    .banner_caption {
        position: absolute;
        top: 43%;
        left: 0;
        right: 0;
        .member-wrap {
            margin-bottom: 75px;
            li {
                margin: 0 8px;
                a {
                    &.banner-btn {
                        width: 270px;
                        line-height: 3;
                        display: inline-block;
                        color: $color-white;
                        font-size: 24px;
                    }
                    &.member {
                        background: $color-sky-blue;
                        border: 1px solid $color-sky-blue;
                        &:hover {
                            background: $color-white;
                            color: $color-sky-blue;
                        }
                    }
                    &.non-member {
                        background: $light-green;
                        &:hover {
                            background: $color-white;
                            color: $light-green;
                        }
                    }
                }
            }
        }
    }
    .carousel-control {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        bottom: auto;
        height: auto;
        opacity: 1;
        top: 50%;
        transform: translateY(-50%);
        width: 25px;
        span {
            font-family: FontAwesome;
            font-size: 150px;
            text-shadow: none;
        }
        &.left {
            left: 15%;
        }
        &.right {
            right: 15%;
        }
    }
}

/*----- Search-Form -----*/

.search-form-sec {
    h3 {
        margin-bottom: 20px;
        text-align: center;
    }
}

.search-btn-wrap {
    float: left;
    width: 21%;
    input[type="button"] {
        width: 230px;
        height: 70px;
        overflow: hidden;
        background: $color-red;
        border: 1px solid $color-red;
        color: $color-white;
        font-size: 24px;
        font-weight: $font-weight-regular;
        line-height: 24px;
        &:hover {
            background: $color-white;
            color: $color-red;
        }
    }
}

.search-form-content {
    background: $color-white;
    float: left;
    height: 70px;
    margin-right: 20px;
    width: 77%;
    border: 1px solid #808080;
    .form-group {
        &:first-child {
            float: left;
            width: 67%;
        }
        &:nth-child(2) {
            float: right;
            width: 33%;
            position: relative;
            &:after {
                background: #dddddd;
                content: "";
                display: block;
                height: 50px;
                overflow: hidden;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 2px;
                z-index: 99;
            }
        }
    }
    .form-group {
        margin-bottom: 0px;
    }
    input[type="text"] {
        height: 68px;
        border: none;
    }
    select {
        border: medium none;
        height: 68px;
        width: 100%;
    }
}

.search-form-wrap {
    .search-form-sec {
        background: rgba(255, 255, 255, 0.6);
        padding: 30px 25px;
        border: 10px solid rgba(0, 0, 0, 0.2);
    }
}

.banner-wrapper .carousel-inner,
.banner-wrapper .carousel,
.banner-wrapper .item {
    height: 100%;
}

/*----- Inner Banner -----*/

.inner-banner {
    height: 990px;
    background-size: cover !important;
    background-position: center !important;
}
