/*---------------------------------------------------------------
3.0 Common
---------------------------------------------------------------*/

/*-- Section Padding --*/

.pad-tb-80 {
    padding: 80px 0px;
    @include breakpoint(x-normal) {
        padding: 50px 0px;
    }
}

.pad-tb-50 {
    padding: 80px 0px;
}

.mrgn-btm-sm {
    margin-bottom: 40px;
}

/*----- Flex Classes -----*/

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.align-self-center {
    align-self: center;
}
