/*---------------------------------------------------------------
6.0 Footer
---------------------------------------------------------------*/

.footer-wrapper {
    background: $color-black;
    padding: 20px 0px;
}

.copyright-sec {
    span {
        color: $color-white;
        a {
            color: $color-sky-blue;
            &:hover {
                color: $color-white;
            }
        }
    }
}


#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: $color-sky-blue;
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    transition: all 0.3s ease;
    border: 2px solid #2898f3;
    &:hover {
        background: #ffffff;
        border-color: #2898f3;
        i {
            color: #2898f3;
            top: 5px;
        }
    }
}

.return-top-wrap {
    i {
        color: #ffffff;
        margin: 0;
        position: relative;
        left: 14px;
        top: 7px;
        font-size: 19px;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        font-family: FontAwesome;
        font-style: normal;
    }
}
