/*---------------------------------------------------------------
2.0 Header
---------------------------------------------------------------*/

/*----- Header-Top -----*/

.header-wrapper {
    padding: 0px 15px;
    .login-wrap {
        ul {
            li {
                a {
                    color: $color-sky-blue;
                    font-size: 18px;
                    &:hover {
                        color: $color-black;
                    }
                }
                &:after {
                    border-right: 2px solid #dddddd;
                    content: "";
                    display: inline-block;
                    height: 15px;
                    vertical-align: middle;
                    width: 5px;
                    margin-left: 8px;
                }
                &:last-child {
                    &:after {
                        border-right: none;
                    }
                }
            }
        }
    }
    .social-share-wrap {
        ul {
            li {
                a {
                    color: $color-grey;
                    font-size: 22px;
                    &:hover {
                        color: $color-sky-blue;
                    }
                }
            }
        }
    }
}

/*------ Header Menu Section -----*/

.main-menu-wrap {
    background: $color-sky-blue;
}

.header-menu {
    nav {
        margin-bottom: 0px;
        border: none;
        background: none;
    }
    ul {
        align-content: center;
        align-items: center;
        display: flex;
        float: none;
        justify-content: space-between;
        margin: 0 auto;
        text-align: center;
        width: 100%;
        padding: 33px 0;
        li {
            display: inline-block;
            float: none;
            position: relative;
            text-align: center;
            a {
                color: #ffffff !important;
                display: inline-block;
                font-size: 18px;
                font-weight: 400;
                letter-spacing: 0.1rem;
                line-height: 1.4;
                text-transform: capitalize;
                padding: 0px !important;
                &:hover {
                    color: $color-black !important;
                }
                &:after {
                    background: #ffffff none repeat scroll 0 0;
                    content: "";
                    display: inline-block;
                    height: 15px;
                    margin: 0px 39px;
                    width: 2px;
                }
            }
            &:last-child {
                a {
                    &:after {
                        display: none;
                    }
                }
            }
        }
    }
}

.fixed-me {
    left: 0;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    width: 100% !important;
    z-index: 9999;
}
