/*---------------------------------------------------------------
5.0 Main 
---------------------------------------------------------------*/

/*----- Common Section -----*/

.welcome-sec-wrap {
    padding: 55px 0px;
}

.welcome-grid-wrap,
.info-grid-wrap {
    padding-top: 55px;
}

.img-sec > img {
    width: 100%;
}

/*----- Read More Section -----*/

.read-more-wrap {
    display: inline-block;
    position: relative;
    .read-more {
        cursor: pointer;
        z-index: 2;
        color: $color-white;
        font-size: 24px;
        width: 270px;
        line-height: 2.9;
        text-align: center;
        display: inline-block;
        border: 1px solid;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            opacity: 0;
            background-color: rgba(255, 255, 255, 0.5);
            -webkit-transition: all 0.4s;
            -moz-transition: all 0.4s;
            -o-transition: all 0.4s;
            transition: all 0.4s;
            -webkit-transform: scale(1, 0.5);
            transform: scale(1, 0.5);
        }
        &:hover {
            &:before {
                opacity: 1;
                -webkit-transform: scale(1, 1);
                transform: scale(1, 1);
            }
        }
    }
    &.student-sec {
        .read-more {
            background: $bg-magenta;
            border-color: $bg-magenta;
            &:hover {
                background: $color-white;
                color: $bg-magenta;
            }
        }
    }
    &.lecturers-sec {
        .read-more {
            background: $bg-green;
            border-color: $bg-green;
            &:hover {
                background: $color-white;
                color: $bg-green;
            }
        }
    }
    &.les-innovate-sec {
        .read-more {
            background: $bg-yellow;
            border-color: $bg-yellow;
            &:hover {
                background: $color-white;
                color: $bg-yellow;
            }
        }
    }
    &.employer-sec {
        .read-more {
            background: $bg-blue;
            border-color: $bg-blue;
            &:hover {
                background: $color-white;
                color: $bg-blue;
            }
        }
    }
    &.university-sec {
        .read-more {
            background: $bg-orange;
            border-color: $bg-orange;
            &:hover {
                background: $color-white;
                color: $bg-orange;
            }
        }
    }
    &.library-sec {
        .read-more {
            background: $color-red;
            border-color: $color-red;
            &:hover {
                background: $color-white;
                color: $color-red;
            }
        }
    }
}

/*----- Welcome Section -----*/

.welcome-sec-wrap {
    background: $bg-grey;
    .welcome-content {
        text-align: center;
        width: 92%;
        margin: 0 auto 40px;
    }
    .welcome-grid {
        .learn-more-sec {
            color: rgba(255, 255, 255, 1);
            transition: all 0.5s;
            display: inline-block;
            position: relative;
            margin-top: 40px;
            a {
                cursor: pointer;
                z-index: 2;
                width: 270px;
                display: inline-block;
                font-size: 24px;
                color: $color-white;
                background: $light-green;
                border: 1px solid $light-green;
                text-transform: $text-capitalize;
                line-height: 2.9;
                text-align: center;
                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                    opacity: 0;
                    background-color: rgba(255, 255, 255, 0.5);
                    -webkit-transition: all 0.4s;
                    -moz-transition: all 0.4s;
                    -o-transition: all 0.4s;
                    transition: all 0.4s;
                    -webkit-transform: scale(1, 0.5);
                    transform: scale(1, 0.5);
                }
                &:hover {
                    &:before {
                        opacity: 1;
                        -webkit-transform: scale(1, 1);
                        transform: scale(1, 1);
                    }
                }
            }
        }
        .img-sec {
            height: 450px;
            background-size: cover;
            background-position: center;
        }
    }
}

.info-wel-sec {
    padding-left: 20px;
    padding-right: 20px;
}

/*----- Welcome-Grid -----*/

.welcome-grid-wrap {
    .featured-thumb {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 450px;
        margin-bottom: 20px;
        overflow: hidden;
        position: relative;
    }
    .learn-more-wrap {
        position: relative;
        height: 100%;
        width: 100%;
        &:before {
            border-radius: 30% 0 0;
            bottom: 0;
            content: "";
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            transform: translate(75%, 72%);
            transition: all 0.5s ease-in-out 0s;
        }
        &:hover {
            &:before {
                transform: translate(0%, 0%);
                border-radius: 0%;
                opacity: 0.8;
            }
            .read-more {
                padding: 40px;
                bottom: 0;
                right: 0;
                width: 100%;
                height: 100%;
                i {
                    top: -12px;
                }
            }
        }
        .read-more {
            align-content: center;
            align-items: center;
            bottom: 0;
            color: #ffffff;
            display: flex;
            font-size: 18px;
            height: 105px;
            justify-content: center;
            left: auto;
            line-height: 22px;
            padding: 15px 20px 0 25px;
            position: absolute;
            right: 0;
            text-align: left;
            top: auto;
            transition: all 0.3s ease-in-out 0s;
            width: 105px;
            z-index: 99;
            i {
                display: inline-block;
                font-family: FontAwesome;
                margin-left: 10px;
                font-style: normal;
                position: relative;
                margin-bottom: -24px;
            }
        }
        &.student-sec {
            &:before {
                background: $bg-magenta;
            }
        }

        &.lecturers-sec {
            &:before {
                background: $bg-green;
            }
        }

        &.les-innovate-sec {
            &:before {
                background: $bg-yellow;
            }
        }

        &.employer-sec {
            &:before {
                background: $bg-blue;
            }
        }

        &.university-sec {
            &:before {
                background: $bg-orange;
            }
        }

        &.library-sec {
            &:before {
                background: $color-red;
            }
        }
    }
}

.info-grid-wrap .row > div,
.welcome-grid-wrap .row > div {
    margin-bottom: 40px;
}

/*----- Info Grid Section -----*/

.info-grid-wrap {
    .featured-thumb {
        background-position: center center !important;
        background-size: cover !important;
        height: 450px;
        margin-bottom: 25px;
    }
    .read-more-wrap {
        margin-top: 40px;
    }
}

/*----- Information Search Box Section -----*/

.info-search {
    padding: 40px 0px;
}

/*----- Cryptocurrency Wrap Section -----*/

.cryptocurrency-wrap {
    .featured-thumb {
        margin-bottom: 25px;
    }
    .cryptocurrency-content-sec {
        text-align: center;
        h4 {
            margin-bottom: 20px;
        }
    }
}

/*----- Signup Section -----*/

.signup-section-wrap {
    padding: 40px 0px;
}

.signup-section {
    height: 300px;
    background-size: cover;
    background-position: center center;
    position: relative;
    h3 {
        color: $color-white;
        font-size: 40px;
        display: inline-block;
        margin-right: 40px;
    }
    .signup-wrap {
        display: inline-block;
    }
    .signup {
        background: $light-green;
        width: 270px;
        line-height: 2.9;
        color: $color-white;
        font-size: 24px;
        text-align: center;
        display: inline-block;
        border: 1px solid $light-green;
        &:hover {
            background: $color-white;
            color: $light-green;
        }
    }
    .signup-content-sec {
        left: 0;
        margin: 0 auto;
        position: absolute;
        right: 0;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);
    }
}

/*----- Dashboard Section -----*/

.dashboard-content-section {
    height: 100%;
    position: relative;
    .special-icons {
        position: absolute;
        right: 0;
        bottom: 30px;
        li {
            transition: all 0.3s ease-in-out;
            svg {
                height: 100%;
                width: 100%;
                path {
                    fill: $color-white;
                }
            }
            .icon-wrap {
                width: 20px;
            }
            &:hover {
                svg {
                    path {
                        fill: $color-black;
                    }
                }
            }
        }
    }
}

.dashboard-top-wrap {
    height: 330px;
    position: relative;
    .container {
        height: 100%;
    }
    .dashboard-content {
        float: left;
    }
}

.dashboard-content-sec {
    position: relative;
    .information-wrapper {
        float: left;
        width: 65%;
    }
    .credentials-wrap {
        float: left;
        width: 35%;
        text-align: center;
        padding: 40px 30px;
        li {
            list-style: none;
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 0px;
            }
        }
        h4 {
            font-weight: $font-weight-regular;
            font-size: 30px;
        }
    }
    &:after {
        background: url("../images/credentials-bg.png");
        content: "";
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        width: 40%;
        z-index: -99;
    }
}

/*----- Media Tab Section -----*/

.media-tab-wrap {
    background: #f7f7f7;
    padding: 40px 0px;
    ul {
        li {
            margin-right: 20px;
            a {
                color: #303030;
                font-size: 30px;
                border-radius: 0px;
                background: $color-white;
                line-height: 1.7;
                padding: 10px 20px;
                border-top: 2px solid transparent;
                text-transform: capitalize;
            }
            &.active {
                a {
                    background: #fafcff;
                    border-color: $bg-green;
                    color: #303030;
                    &:hover,
                    &:focus {
                        background: #fafcff;
                        border-color: $bg-green;
                        color: #303030;
                    }
                }
            }
            &:last-child {
                margin-right: 0px;
            }
        }
    }
    .tab-content {
        background: $color-white;
        padding: 40px 15px;
        .row {
            display: flex;
            flex-wrap: wrap;
        }
        .grid-item {
            margin-bottom: 30px;
            transition: all 0.5s ease-in-out;
            a {
                svg {
                    height: 60%;
                    left: 0;
                    margin: 0 auto;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 50%;
                    path {
                        opacity: 0.7;
                    }
                }
            }
            .border {
                a {
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    z-index: 99;
                }
                .lock-icon {
                    font-size: 30px;
                    left: 10px;
                    position: absolute;
                    top: 3px;
                    color: $color-grey;
                    width: 10%;
                    svg {
                        height: 100%;
                        width: 100%;
                    }
                }
            }
            .folder-sec {
                border: 6px double $bg-grey;
                height: 270px;
                position: relative;
                margin-bottom: 30px;
                &:after {
                    border: 2px solid $bg-grey;
                    bottom: 3px;
                    content: "";
                    display: inline-block;
                    left: 3px;
                    position: absolute;
                    right: 3px;
                    top: 3px;
                }
            }
            &:hover {
                .folder-sec {
                    border-color: $color-black;
                    &:after {
                        border-color: $color-black;
                    }
                    svg {
                        path {
                            opacity: 1;
                        }
                    }
                }
            }
        }
        .meta-info {
            > span {
                i {
                    font-family: FontAwesome;
                    font-style: normal;
                    color: $color-grey;
                    margin-right: 8px;
                }
                &:first-child {
                    margin-right: 10px;
                }
            }
        }
    }
}

.download-folder {
    .title {
        bottom: 20px;
        left: 0;
        margin: 0 auto;
        position: absolute;
        right: 0;
        text-align: center;
    }
    a svg {
        path {
            opacity: 1 !important;
        }
        g {
            &:first-child {
                path {
                    fill: #cfcfcf !important;
                }
            }
        }
    }
}

.dashboard-content-sec .information-wrap ul li,
.commendation-wrap .grid-item .content-sec {
    text-align: center;
    overflow: hidden;
}

/*----- Commendation-wrap ------*/

.commendation-wrap .title-sec h4,
.about-section .title-sec h4 {
    font-size: 30px;
    font-weight: $font-weight-regular;
    margin-bottom: 15px;
}

.commendation-wrap {
    margin-bottom: 10px;
}

.commendation-wrap .grid-item,
.information-wrap .grid-item {
    border: 1px solid $bg-grey;
    padding: 20px;
    overflow: hidden;
    margin-bottom: 15px;
    display: flex;
    max-width: 236px;
}

.commendation-wrap .grid-item .icon-sec,
.information-wrap .grid-item .icon-sec {
    float: left;
    margin-right: 15px;
    align-self: center;
}

.commendation-wrap .grid-item .content-sec,
.information-wrap .grid-item .content-sec {
    float: left;
    align-self: center;
}

.commendation-wrap .grid-item .content-sec h4,
.information-wrap .grid-item .content-sec h4 {
    color: #606060;
    font-size: 30px;
    font-weight: $font-weight-regular;
}

.information-wrap .grid-item .icon-sec svg {
    width: 100%;
    height: 100%;
}

.information-wrap .grid-item .icon-sec svg path {
    fill: #606060;
}

.information-wrap .grid-item .icon-sec {
    width: 18%;
}

.information-wrap {
    margin-top: -102px;
    ul {
        text-align: right;
        li {
            display: inline-block;
            text-align: left;
            list-style: outside none none;
            margin-right: 12px;
            clear: both;
            width: 31.8%;
            &:first-child,
            &:nth-child(4) {
                margin-right: 0px;
            }
            &:nth-child(1) {
                clear: both;
                float: right;
                width: 100%;
                .grid-item {
                    margin-left: auto;
                }
            }

        }
    }
}

.gallery-border {
    bottom: 5px;
    left: 5px;
    position: absolute;
    right: 5px;
    top: 5px;
}

/*----- User Info Section ------*/

.user-info-wrap {
    margin-top: -230px;
    overflow: hidden;
    .dashboard-img {
        background-position: center center;
        background-size: cover;
        border-radius: 100%;
        float: left;
        height: 380px;
        margin-right: 20px;
        width: 52%;
    }
    .dashboard-content {
        float: left;
        width: 45%;
        margin-top: 120px;
        h2 {
            color: $color-white;
            font-size: 45px;
            font-weight: $font-weight-regular;
        }
        span {
            font-size: 20px;
            color: $color-white;
            font-weight: $font-weight-regular;
        }
    }
}

/*----- Student Profile -----*/

.student-sec {
    .dashboard-top-wrap {
        background: $bg-magenta;
    }
    .media-tab-wrap {
        .tab-content {
            .grid-item {
                a {
                    svg {
                        path {
                            fill: $bg-magenta;
                        }
                    }
                }
                &:hover {
                    .content-sec {
                        h5 {
                            a {
                                color: $bg-magenta;
                            }
                        }
                    }
                }
            }
            .meta-info {
                > span {
                    span {
                        color: $bg-magenta;
                    }
                }
            }

        }
    }
}

.student-sec .commendation-wrap .grid-item .content-sec span,
.student-sec .information-wrap .grid-item .content-sec span {
    color: $bg-magenta;
}

/*----- Innovateurs Profile -----*/

.innovateurs-sec {
    .dashboard-top-wrap {
        background: $bg-yellow;
    }
    .media-tab-wrap {
        .tab-content {
            .grid-item {
                a {
                    svg {
                        path {
                            fill: $bg-yellow;
                        }
                    }
                }
                &:hover {
                    .content-sec {
                        h5 {
                            a {
                                color: $bg-yellow;
                            }
                        }
                    }
                }
            }
            .meta-info {
                > span {
                    span {
                        color: $bg-yellow;
                    }
                }
            }

        }
    }
}

.innovateurs-sec .commendation-wrap .grid-item .content-sec span,
.innovateurs-sec .information-wrap .grid-item .content-sec span {
    color: $bg-yellow;
}

/*----- Lecturer Profile -----*/

.lecturer-sec {
    .dashboard-top-wrap {
        background: $bg-green;
    }
    .media-tab-wrap {
        .tab-content {
            .grid-item {
                a {
                    svg {
                        path {
                            fill: $bg-green;
                        }
                    }
                }
                &:hover {
                    .content-sec {
                        h5 {
                            a {
                                color: $bg-green;
                            }
                        }
                    }
                }
            }
            .meta-info {
                > span {
                    span {
                        color: $bg-green;
                    }
                }
            }

        }
    }
}

.lecturer-sec .commendation-wrap .grid-item .content-sec span,
.lecturer-sec .information-wrap .grid-item .content-sec span {
    color: $bg-green
}

/*----- Employe Profile -----*/

.employe-sec {
    .dashboard-top-wrap {
        background: $bg-blue;
    }
    .media-tab-wrap {
        .tab-content {
            .grid-item {
                a {
                    svg {
                        path {
                            fill: $bg-blue;
                        }
                    }
                }
                &:hover {
                    .content-sec {
                        h5 {
                            a {
                                color: $bg-blue;
                            }
                        }
                    }
                }
            }
            .meta-info {
                > span {
                    span {
                        color: $bg-blue;
                    }
                }
            }

        }
    }
    .information-wrap {
        margin-top: 10px;
        ul {
            li {
                margin-right: 0;
                &:nth-child(1) {
                    clear: inherit;
                    float: inherit;
                    width: inherit;
                    margin-right: 20px;
                }
            }
        }
    }
}

.employe-sec .commendation-wrap .grid-item .content-sec span,
.employe-sec .information-wrap .grid-item .content-sec span {
    color: $bg-blue;
}

/*----- University Profile -----*/

.university-sec {
    .dashboard-top-wrap {
        background: $bg-orange;
    }
    .media-tab-wrap {
        .tab-content {
            .grid-item {
                a {
                    svg {
                        path {
                            fill: $bg-orange;
                        }
                    }
                }
                &:hover {
                    .content-sec {
                        h5 {
                            a {
                                color: $bg-orange;
                            }
                        }
                    }
                }
            }
            .meta-info {
                > span {
                    span {
                        color: $bg-orange;
                    }
                }
            }

        }
    }
    .information-wrap {
        margin-top: 10px;
        ul {
            li {
                margin-right: 0;
                &:nth-child(1) {
                    clear: inherit;
                    float: inherit;
                    text-align: inherit;
                    width: inherit;
                    margin-right: 20px;
                }
            }
        }
    }
}

.university-sec .commendation-wrap .grid-item .content-sec span,
.university-sec .information-wrap .grid-item .content-sec span {
    color: $bg-orange;
}
