/*---------------------------------------------------------------
7.0 Responsive
---------------------------------------------------------------*/

@media only screen and (max-width: 1499px) and (min-width: 320px) {

    /*----- Common Section -----*/
    h2 {
        font-size: 32px;
    }
    h4,
    h4 a {
        font-size: 21px;
    }
    h5,
    h5 a {
        font-size: 18px;
    }
    p {
        font-size: 15px;
        line-height: 22px;
    }
    input[type="text"],
    input[type="email"],
    input[type="url"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    input[type="number"],
    textarea,
    .form-control,
    select {
        font-size: 16px;
    }

    /*----- Read More Section -----*/
    .read-more-wrap {
        .read-more {
            font-size: 18px;
            width: 200px;
        }
    }

    /*----- Banner Section -----*/
    .banner-wrapper {
        height: 480px;
        .banner_caption {
            top: 30%;
            .member-wrap {
                li {
                    a {
                        &.banner-btn {
                            font-size: 20px;
                            width: 235px;
                        }
                    }
                }
            }
            .member-wrap {
                margin-bottom: 50px;
            }
        }
        .carousel-control {
            &.left {
                left: 3%;
            }
            &.right {
                right: 3%;
            }
            span {
                font-size: 70px;
            }
        }
    }

    /*----- Inner Banner Section -----*/
    .inner-banner {
        height: 700px;
    }

    /*----- Main Menu Section -----*/
    .header-menu {
        ul {
            padding: 25px 0;
            li {
                a {
                    font-size: 16px;
                }
            }
        }
    }

    #navbar {
        height: 1px;
    }

    /*----- Header Section -----*/
    .header-wrapper .login-wrap ul li a,
    .header-wrapper .social-share-wrap ul li a {
        font-size: 16px;
    }

    /*----- Welcome Section -----*/
    .welcome-sec-wrap {
        .welcome-grid {
            .learn-more-sec {
                margin-top: 25px;
                a {
                    font-size: 19px;
                    width: 200px;
                }
            }
            .img-sec {
                height: 320px;
            }
        }
    }
    .welcome-grid-wrap {
        .featured-thumb {
            height: 380px;
        }
        .learn-more-wrap {
            .read-more {
                height: 95px;
            }
        }
    }

    /*----- Information Grid Section -----*/
    .info-grid-wrap {
        .read-more-wrap {
            margin-top: 25px;
        }
        .featured-thumb {
            height: 350px;
        }
    }
    .info-grid-wrap .row > div {
        margin-bottom: 25px;
    }
    .welcome-grid-wrap .row > div,
    .info-grid-wrap .featured-thumb {
        margin-bottom: 20px;
    }
    .info-grid-wrap .read-more-wrap {
        margin-top: 16px;
    }

    /*----- Search Form Section -----*/
    .search-form-content {
        height: 54px;
        input[type="text"] {
            height: 52px;
        }
        select {
            height: 52px;
        }
        .form-group {
            &:nth-child(2) {
                &:after {
                    height: 35px;
                }
            }
        }
    }
    .search-btn-wrap {
        input[type="button"] {
            font-size: 20px;
            width: 230px;
            height: 53px;
        }
    }
    .search-form-sec {
        h3 {
            font-size: 28px;
            margin-bottom: 10px;
        }
    }

    /*----- User Dashboard -----*/
    .dashboard-content-sec::after {
        width: 35%;
    }
    .user-info-wrap {
        margin-top: -160px;
        .dashboard-img {
            width: 40%;
            height: 300px;
        }
    }
    .commendation-wrap .title-sec h4,
    .about-section .title-sec h4,
    .commendation-wrap .grid-item .content-sec h4,
    .information-wrap .grid-item .content-sec h4,
    .media-tab-wrap ul li a {
        font-size: 22px;
    }

    .media-tab-wrap .tab-content .grid-item .folder-sec,
    .media-tab-wrap .tab-content .grid-item {
        margin-bottom: 20px;
    }
    .dashboard-top-wrap {
        height: 200px;
        position: relative;
    }

    /*----- User Info Section -----*/
    .user-info-wrap {
        .dashboard-content {
            margin-top: 82px;
            h2 {
                font-size: 30px;
            }
            span {
                font-size: 14px;
            }
        }
    }

    .dashboard-content-sec {
        .credentials-wrap {
            h4 {
                font-size: 24px;
                font-weight: 400;
            }
        }
    }

    .university-sec .information-wrap {
        margin-top: -25px;
    }

    /*----- Signup Section ------*/
    .signup-section {
        height: 250px;
        .signup {
            font-size: 20px;
            width: 210px;
        }
        h3 {
            font-size: 30px;
        }
    }
}
