//  Variables Sections  //
//Colors
$color-white: #ffffff;
$color-sky-blue: #00aae0;
$color-black: #000000;
$color-grey: #909090;
$color-black: #303030;
$light-green: #a4cb35;
$color-red: #e1003a;
$bg-grey: #ededed;
$bg-magenta: #a8157d;
$bg-green: #23b14d;
$bg-yellow: #f4e21e;
$bg-blue: #4067cc;
$bg-orange: #f59b29;


//Font Weight
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-semibold: 600;

//Text Transform
$text-uppercase: uppercase;
$text-capitalize: capitalize;
